{% load static %}
<div class="flex items-center gap-4 [&>a:hover]:underline">
    {% if comment.likes.count %}
    <div class="flex items-center gap-1">
        {% if user in comment.likes.all %}
        <img class="w-4 -mt-1" src="{% static 'images/fireheart_red.svg' %}">
        {% else %}
        <img class="w-4 -mt-1" src="{% static 'images/fireheart.svg' %}">
        {% endif %}
        {{ comment.likes.count }}
    </div>
    {% endif %}
    {% if user.is_authenticated and user != comment.author %}                    
        <a class="cursor-pointer" 
        hx-get="{% url 'like-comment' comment.id %}"
        hx-target="closest div"
        hx-swap="outerHTML">
            {% if user in comment.likes.all %}
            <b>Liked</b>
            {% else %}
            Like
            {% endif %}
        </a>
    {% endif %}
</div>